@font-face {
  font-family: 'Falcon Punch';
  src: url('../fonts/falconpunch.ttf') format('truetype');
}
@font-face {
  font-family: 'Neutronium';
  src: url('../fonts/Neutronium.ttf') format('truetype');
}
@font-face {
  font-family: 'Hurt Mold';
  src: url('../fonts/Hurtmold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rational Integer';
  src: url('../fonts/Rational Integer.ttf') format('truetype');
}
@font-face {
  font-family: 'Angerpoise Lampshade';
  src: url('../fonts/Angerpoise Lampshade.ttf') format('truetype');
}
@font-face {
  font-family: 'Good Times';
  src: url('../fonts/Good Times.ttf') format('truetype');
}
